@import url(../../style.css);
a, p, div, h1, h2, h3, h4, h5, span{
	font-family:lato;
}
.row{
	margin:0 0 0 0;
}
.sem-margem{
	margin:0 0 0 0;
	padding: 0 0 0 0;
}
/*header*/
#header{
	min-height:250px;
}
#h-topo{
	background-color:#f3cf29;
	height:150px;
	border-bottom:solid 3px #dca61b;	
}
#h-fundo{
	
}

#header-image{
	display:inline-block;
}
.centro{
margin:0 auto;
float:none;
}
/*header*/
/*menu*/
.navbar{
	background-color:transparent;
	border-color:transparent;
	display:inline-block;
	margin:0 0 0 0;
	font-family:lato;
	color:#dca61b;
	font-size:1.3em;
	float:right;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar .menu-principal > li > a:hover
{
	background-color:#dca61b;
	color:#fff;
}
.navbar .menu-principal  li  a{
	color:#dca61b;
	padding:10px 15px;
	margin: 109px 0 0;
	
}
/*menu*/
/*conteudo*/
#main{
	min-height:300px;
}
/*conteudo*/
/*footer	*/
#footer{
	background-color:#000;
	color:#fff;
}
#footer span{
	color:#fff;
	display:inline-block;
	float:left;
	
}
.site-info{
}
.site-social{
	float:right;
	display:block;
}
.social-img{
	width:30px;
	height:30px;
	border:0px;
	display:inline-block;
}
#facebook{
	background-image:url('../images/social.png');
	background-position:0 30px;
}
#instagram{
	background-image:url('../images/social.png');
	background-position:60px 30px ;
	
}
#youtube{
	background-image:url('../images/social.png');
	background-position:30px 30px ;
	
}
#facebook:hover{
	background-image:url('../images/social.png');
	background-position:0 60px;
}
#instagram:hover{
	background-image:url('../images/social.png');
	background-position:60px 60px ;
	
}
#youtube:hover{
	background-image:url('../images/social.png');
	background-position:30px 60px ;
	
}
/*footer*/
/*reponsividade*/

@media (min-width: 768px){
	.container {
		width: 100%;
	}
}
/*reponsividade*/