@import url(../../style.css);
a, p, div, h1, h2, h3, h4, h5, span{
	font-family:lato;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0 0 0 0;
	margin: 0 0 0 0;
}
.row{
	margin:0 0 0 0;
}
.sem-margem{
	margin:0 0 0 0;
	padding: 0 0 0 0;
}
/*header*/
#header{
	min-height:250px;
}
#h-topo{
	background-color:#f3cf29;
	height:150px;
	border-bottom:solid 3px #dca61b;	
}
#h-fundo{
	
}

#header-image{
	display:inline-block;
	margin-top:30px;
}
.centro{
margin:0 auto;
float:none;
}
/*header*/
/*menu*/
.navbar-main-navigation{
	padding-right:0;
}
.navbar{
	background-color:transparent;
	border-color:transparent;
	display:inline-block;
	margin:0 0 0 0;
	font-family:lato;
	color:#dca61b;
	font-size:1.3em;
	float:right;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar .menu-principal > li > a:hover
{
	background-color:#dca61b;
	color:#fff;
}
.navbar .menu-principal  li  a{
	color:#dca61b;
	padding:10px 15px;
	margin: 109px 0 0;
	
}
/*menu*/
/*conteudo*/
#main{
	min-height:300px;
}
/*conteudo*/
/*footer	*/
#footer{
	background-color:#000;
	color:#fff;
}
#footer span{
	color:#fff;
	display:inline-block;
	float:left;
	
}
.site-info{
}
.site-social{
	float:right;
	display:block;
}
.social-img{
	width:30px;
	height:30px;
	border:0px;
	display:inline-block;
}
#facebook{
	background-image:url('../images/social.png');
	background-position:0 30px;
}
#instagram{
	background-image:url('../images/social.png');
	background-position:60px 30px ;
	
}
#youtube{
	background-image:url('../images/social.png');
	background-position:30px 30px ;
	
}
#facebook:hover{
	background-image:url('../images/social.png');
	background-position:0 60px;
}
#instagram:hover{
	background-image:url('../images/social.png');
	background-position:60px 60px ;
	
}
#youtube:hover{
	background-image:url('../images/social.png');
	background-position:30px 60px ;
	
}
/*footer*/
/*portfolio*/
#menu-port{
	margin:40px 0 20px;
}
#menu-port li a{
	color:#000;
	font-size:1.1em;
}
#menu-port li:first-child{
	border:none;
	padding-left:0;
}
#menu-port li{
	display:inline-block;
	padding:0 0 0 10px;
	border-left:1px solid black;
	margin-right:10px;
}
.video-portfolio img{
	display:inline-block;
	width:100%;
	
}
.video-portfolio:nth-child(5n+1) {
	margin-left: -2%;
	
}
.video-portfolio{
	display:inline-block;
	padding-left: 2%;
}

iframe{
	width: 100%;
}
#lista-videos .clearfix{
	margin-bottom:20px;
}
#menu-port li a.ativo{
	color:#dca61b;
}
.modal-backdrop.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.modal-header {
padding: 5px;
text-align: center;
}
.pagination a{
	color:#000;
	font-size:1.1em;
}
.pagination a:hover, .pagination .page-numbers.current {
	color:#dca61b;
	font-size:1.3em;
}
.capa-hover{
	position:absolute;
	opacity:0;
	transition: 600ms ease all;
	background-color:#000;
	width:92%;
	height:100%;
	margin-right:20px;
	text-align:center;
	color:#fff;
}
.capa:hover .capa-hover{
	opacity: 0.8;
	transition: 500ms ease all;
}
.capa .capa-hover h3{
	margin-top:30%;
	font-size:1.2em;
}
/*portfolio*/
/*reponsividade*/

@media (min-width: 768px){
	.container {
		width: 100%;
	}
}
/*reponsividade*/